@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*  esconder barra de rolagem */

body::-webkit-scrollbar {
  display: none;
}




:root {

  /*---cores---*/

  --azul-escuro: #222f40;
  --azul-escuro-saturado: #222344;
  --azul-preto: #161d29;
  --azul-escuro-cinza: #64758C;
  --azul-claro-cinza: #C4CCD9;

  /*Dark*/
  --color-dark-20: #b2b2b9;
  --color-dark-50: #797984;
  --color-dark-100: #312d37;
  --color-dark-900: #000;
  /* Purple */
  --color-purple-50: #4000ae;
  --color-purple-100: #5700dabb;
  --color-purple-200: #4106cd;


  /*---fontes---*/

  --font-h1: clamp(2rem, 7vw + 0.1rem, 4rem);
}

body,
html {
  scroll-behavior: smooth;
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}



/* ----------- barra de navegação --------------- */

nav {
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  z-index: 2;
  height: auto;
  background-color: #312650;
  color: white;
  text-transform: uppercase;
  transition: .3s ease-in-out;
}

#container-nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

#lista-nav ul {
  display: flex;
  list-style: none;

}

#lista-nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 20px 5px;

  border-bottom: 3px solid transparent;
}

#lista-nav a:hover {

  border-bottom: 3px solid rgb(81, 115, 238);
  background-image: linear-gradient(to top, rgba(48, 70, 148, 0.726) 0%, #00000000 100%);
}

#login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login ul {
  display: flex;
  list-style: none;
}

#login .login {
  text-decoration: none;
  color: white;
  padding: 17px 15px;
  border-radius: 5px;
  background-color: #4C388D;
  border: 1px solid transparent;
  transition: .4s ease-in-out;
  margin: 10px;
}

#login .login:hover {
  background-color: transparent;
  border: 1px solid white;
}

#login .cadastro {
  color: white;
  text-decoration: none;
  transition: .4s ease-in-out;
}

#login .cadastro:hover {
  color: rgba(255, 255, 255, 0.644);
}

#login button {
  border: none;
  background-color: transparent;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
}

.btn-tema {
  width: 20px;
  height: auto;
  font-size: 2em;
  color: white;
}



#icone-mobile {
  display: none;
}

#menu-mobile {
  display: none;
}


/*------------ Banner do site ------------------- */

#banner {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(imagens/vmenor4.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

#texto-banner {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-banner {
  display: flex;

}

#texto-banner h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: white;
  text-align: center;
  padding: 0 15%;
  padding-bottom: 7%;
  font-size: var(--font-h1);
  text-shadow: 5px 5px 0px #4a5caa34;
}

.line-up h1 {
  animation: 3s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.botao-banner {
  background-color: #6cc1e9;
  color: white;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .7s;
  border-radius: 10px;
  border: 1px solid transparent;
}

.botao-banner>i {
  padding-left: 10px;
}

.botao-banner:hover {
  border: 1px solid white;
  background-color: transparent;
  transition: .3s;
}

.botao-banner {
  animation: 3s anim-fade ease-out;
}


@keyframes anim-fade {
  0% {
    opacity: 0;

  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;

  }

  100% {
    opacity: 1;

  }
}


@media (max-width: 550px) {

  #texto-banner h1 {
    display: flex;
    text-align: left;
    padding: 0 5%;
    padding-bottom: 2%
  }
}


/*---------------- main ------------------------*/

main#servicos {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20%;
  padding-top: 72px;
}

.container-texto-servicos {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


.texto-servicos {
  width: calc(977px - 25%);
  height: auto;
  padding: 20px;
}

.texto-servicos h4 {
  font-size: 3rem;
  padding-bottom: 20px;
}

.texto-servicos p {

  padding-bottom: 25px;
}

.texto-servicos a {
  background-color: #4C388D;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.campo-imagem-servicos {
  width: calc(977.41px - 50%);
  height: auto;
  text-align: center;
}



#container-servicos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.campos-servicos {
  width: 300px;
  height: 300px;
  background-color: #f0f1f3;
  border-radius: 20px;
  margin: 10px 10px;
  padding: 20px;
}

.campos-servicos p:first-child {
  text-align: center;
}

.campos-servicos i {
  font-size: 3rem;
  color: #4C388D;
  padding: 20px;
}

.campos-servicos h4 {
  font-size: 1.5rem;
}

.campos-servicos p {
  font-size: 1.2rem;
}

.campos-servicos p:last-child {
  padding-top: 10px;
  text-align: left;

}

@media (max-width: 1090px) {
  main#servicos {
    padding: 0 10%;
  }

  .campos-servicos {
    width: 100%;
    height: auto;
  }

  .campos-servicos p {
    padding-bottom: 20px;
  }
}

@media (max-width: 700px) {
  main#servicos {
    padding: 0 2%;
  }
}

@media (max-width: 600px) {
  .imagem-servicos {
    width: 100%;
  }
}

@media (max-width: 400px) {
  main#servicos {
    padding: 0;
    padding-top: 72px;
  }
}

/*---------------- servicos hospedagem ------------------------*/

#hospedagem-site {
  width: 100%;
  height: 100%;
  background-color: #2c0092af;
  padding: 10%;
  display: flex;
  flex-direction: column;
  color: #230270;
}

.titulo-hospedagem{
  display: flex;
  justify-content: center;
}

.titulo-hospedagem h2 {
  font-size: 2em;
  color: white;
  text-transform: uppercase;
}
.container-planos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.planos {
  width: 500px;
  height: auto;
  background-color: white;
  padding: 3%;
  margin: 3% 5px;
}

.precos h3{
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.precos h4 {
  text-align: center;
  font-size: 1.8em;
  padding: 20px 0;
}

.planos .botao-planos {
  text-align: center;
  padding-bottom: 10px;
}

.planos button {
  width: 200px;
  height: 50px;
  border: none;
  text-transform: uppercase;
  background-color: #4106cd;
  color: white;
  transition: .3s ease-in-out;
  border-radius: 5px;
}

.planos button i {
  padding-left: 10px;
}

.planos button:hover{
  background-color: #4206cdd5;
  
}


.recursos h3 {
  padding-bottom: 10px;
}

.recursos p i {
  padding-right: 10px;
}

.fa-xmark{
  font-size: 1.2em;
}

.i-vermelho{
  color: red;
}

.i-verde{
  color: green;
}

.i-amarelo{
  color: rgb(226, 192, 0);
}



/*---------------- projetos -------------------*/

.portifolio {
  background-color: #f0f1f3;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 0 10%;

}

.portifolio h2 {
  width: 100%;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 50px;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.projetos {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 20px 20px;

}

.projetos:nth-child(2) {
  background-image: url(imagens/pexels-pixabay-38639.jpg);
}

.projetos:nth-child(3) {
  background-image: url(imagens/pexels-negative-space-34601.jpg);
}

.projetos:nth-child(4) {
  background-image: url(imagens/pexels-negative-space-34123.jpg);
}

.projetos:nth-child(5) {
  background-image: url(imagens/pexels-negative-space-34140.jpg);
}

.projetos:nth-child(6) {
  background-image: url(imagens/pexels-tranmautritam-251225.jpg);
}

.projetos:nth-child(7) {
  background-image: url(imagens/pexels-tranmautritam-326508.jpg);
}

.texto-projeto {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;
  left: 0;
  bottom: 0;
  background-color: white;
  overflow: hidden;
  text-align: center;
  transition: .3s ease-in-out;
  border-radius: 0px 0px 15px 15px;

}

.texto-projeto h4 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 800;
}

.texto-projeto p {
  text-align: justify;
  padding: 0 36px 20px 36px;

}

.botao-projeto {
  padding: 15px;
  text-decoration: none;
  color: white;
  background-color: #4C388D;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.botao-projeto:hover {
  background-color: #644fa8;
}

.texto-projeto:hover {
  height: 165px;

}

/* ----------------- Contato --------------------- */

section#contato {
  width: 100%;
  height: auto;
  /*background-color: var(--azul-escuro-saturado);*/
  background-color: #1d2535;
  background-color: #161d29;
  color: white;
}

#contato h2 {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 72px;

}

#contato p {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}


.contato-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.contato-detalhes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2%;
}

.contato-detalhes input {
  width: 500px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
}

.mensagem {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.mensagem textarea {
  padding: 3%;
  width: 500px;
  border: none;
  border-radius: 10px;
  resize: none;
}

.mensagem button {
  background-color: #4C388D;
  color: white;
  width: 90px;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s;
  border: 1px solid transparent;
}

.mensagem button i {
  padding-left: 5px;
}

.mensagem button:hover {
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;

}

/* -------------- footer --------------------- */

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 250px;
  padding: 0 18%;
  padding-top: 40px;
  justify-content: space-between;
  background-color: #000;
  color: var(--azul-claro-cinza);
}

footer ul {
  list-style: none;
}

footer h4 {
  padding-bottom: 10px;
}


footer a {
  text-decoration: none;
  color: var(--azul-claro-cinza);
}

#fale-conosco {
  margin: 2%;
}

#fale-conosco p {
  padding-top: 10px;
  font-weight: 500;
}

#container-mapa-endereco {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

#mapa {
  padding-right: 10px;
}

#container {
  margin: 2%;
}

#trabalhe-conosco {
  padding-top: 15px;
}

#trabalhe-conosco a:hover {
  color: #4C388D;
}

#redes-sociais {
  display: flex;

}

#redes-sociais a i {
  padding-right: 10px;
  font-size: 2.2em;
}

#redes-sociais a i:hover {
  color: #4C388D;
}

#container p {
  padding-top: 40px;
}

/*--------------------------------- tema escuro -------------------------------------*/

.tema-escuro main#servicos {
  background-color: #0e0e0e;
  color: white;
}

.tema-escuro #servicos {
  background-color: #0d1118;
  color: white;
}

.tema-escuro #servicos h2 {

  color: white;
}

.tema-escuro .portifolio {
  background-color: #0e0e0e;
}

.tema-escuro .portifolio h2 {
  color: white;
}

.tema-escuro .campos-servicos {
  background-color: #161d29;

}

.tema-escuro .campos-servicos p {
  color: var(--color-dark-20);

}