@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*  esconder barra de rolagem */

body::-webkit-scrollbar { 
        display: none;
    } 
    



:root {
   
    /*---cores---*/

    --azul-escuro: #222f40;
    --azul-escuro-saturado:#222844;
    --azul-preto: #161d29;
    --azul-escuro-cinza: #64758C;
    --azul-bebe-saturado: #84B1D9;
    --azul-bebe-dessaturado: #8BBBD9;
    --azul-claro-cinza: #C4CCD9;
    --amarelo-saturado: #F2C879;

    /*---fontes---*/

    --font-h1: clamp(2rem, 7vw + 0.1rem, 4rem);
}

html {
    scroll-behavior: smooth;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

/* ----------- barra de navegação --------------- */

nav{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  height: auto;
  background-color: rgb(25, 27, 49);
  color: white; 
  text-transform: uppercase;
  transition: .3s ease-in-out;
}

#container-nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

#lista-nav ul{
  display: flex;
  list-style: none;
  
}

#lista-nav a{
  text-decoration: none;
  color: white;
  padding: 17px 15px;
  border-radius: 5px;
  transition: .5s ease-in-out;
}

#lista-nav a:hover{
  background-color: rgb(91, 103, 145);
}


#login ul{
  display: flex;
  list-style: none;
}

#login li a{
  text-decoration: none;
  color: white;
  padding: 17px 15px;
  border-radius: 5px;
  background-color: rgb(91, 103, 145);
  border: 1px solid transparent;
  transition: .4s ease-in-out;
}

#login li a:hover{
  background-color: var(--azul-escuro-saturado);
  border: 1px solid white;
}

#icone-mobile {
  display: none;
}

#menu-mobile {
  display: none;
}


/*------------ Banner do site ------------------- */

#banner {
    display: flex;
    width: 100%;
    height: 70vh;
    background-image: url(imagens/pexels-lee-campbell-115655.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

#texto-banner {
    display: flex;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}

#texto-banner h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    text-align: center;
    padding: 0 20%;
    padding-bottom: 5%;
    font-size: var(--font-h1);
    
}

.line-up h1 {
    animation: 3s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }


#texto-banner a {
    position: absolute;
    top: 55%;
    background-color: var(--azul-bebe-saturado);
    color: white;
    padding: 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .7s;
}

#texto-banner a > i{
  padding-left: 10px;
}

#texto-banner a:hover {
    background-color: #84b1d977;
    transition: .3s;
}

.fade {
    animation: 3s anim-fade ease-out;
  }
  @keyframes anim-fade {
    0% {
      opacity: 0;
      
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
      
    }
    100% {
      opacity: 1;
      
    }
  }

/*---------------- main ------------------------*/

#servicos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    background-color: #fff;
    padding-bottom: 50px;
}

.campos-servicos {
    
    width: 40%;
    height: auto;
    margin: 0 20px;
    margin-top: 50px;
}

.campos-servicos p {
    text-align: justify;
    font-size: 1em;
    padding-bottom: 20px;
}

.campos-servicos h3 {
    padding-bottom: 10px;
    text-align: center;
}

#servicos > h2 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}


/*---------------- projetos -------------------*/

#portifolio {
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 0 10%;
}

#portifolio h2 {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
}

.projetos {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.projetos:nth-child(2) {
  background-image: url(imagens/pexels-pixabay-38639.jpg);
}

.projetos:nth-child(3) {
  background-image: url(imagens/pexels-negative-space-34601.jpg);
}

.projetos:nth-child(4) {
  background-image: url(imagens/pexels-negative-space-34123.jpg);
}

.projetos:nth-child(5) {
  background-image: url(imagens/pexels-negative-space-34140.jpg);
}

.projetos:nth-child(6) {
  background-image: url(imagens/pexels-tranmautritam-251225.jpg);
}

.projetos:nth-child(7) {
  background-image: url(imagens/pexels-tranmautritam-326508.jpg);
}

.texto-projeto {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;
  left: 0;
  bottom: 0;
  background-color: white;
  overflow: hidden;
  text-align: center;
  transition: .3s ease-in-out;
}

.texto-projeto h4{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 800;
}

.texto-projeto p {
  text-align: center;
  padding-bottom: 20px;
}

.botao-projeto{
  padding: 15px;
  text-decoration: none;
  color: white;
  background-color: #84B1D9;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.botao-projeto:hover{
  background-color: rgb(91, 103, 145);
}

.texto-projeto:hover{
  height: 165px;
  
}

/* ----------------- Contato --------------------- */

section#contato {
  width: 100%;
  height: auto;
  background-color: var(--azul-escuro-saturado);
  color: white;
}

#contato h2  {
  text-align: center;
}

#contato p {
  padding-top: 10px;
  text-align: center;
}

section#contato h2{
  padding-top: 20px;
}

.contato-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.contato-detalhes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2%;
}

.contato-detalhes input{
  width: 500px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
}

.mensagem {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.mensagem textarea {
  padding: 3%;
  width: 500px;
  border: none;
  border-radius: 10px;
  resize: none;
}

.mensagem button {
  background-color: var(--azul-escuro-cinza);
  color: white;
  width: 90px;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s;
}

.mensagem button i {
  padding-left: 5px;
}

.mensagem button:hover {
  background-color: var(--azul-bebe-saturado);
  cursor: pointer;
  
}

/* -------------- footer --------------------- */

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 250px;
  padding: 0 18%;
  padding-top: 40px;
  justify-content: space-between;
  background-color: var(--azul-preto);
  color: var(--azul-claro-cinza);
}

footer ul {
  list-style: none;
}

footer h4 {
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: var(--azul-claro-cinza);
}

#fale-conosco {
  margin: 2%;
}

#fale-conosco p {
  padding-top: 10px;
  font-weight: 500;
}

#container-mapa-endereco {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

#mapa {
  padding-right: 10px;
}

#container {
  margin: 2%;
}


#redes-sociais{
  display: flex;
  
}

#redes-sociais a i {
  padding-right: 10px;
  font-size: 2.2em;
}

#redes-sociais a i:hover{
  color: var(--azul-bebe-dessaturado);
}

#container p {
  padding-top: 40px;
}

